html{
	font-family: "微軟正黑體","Microsoft JhengHei", Helvtica !important;
}

/* 超連結 */
/* 未連結 */
a:link{
    color: #0082ee;
    text-decoration: none !important;
    text-shadow:none !important;
}
/* 已連結過 */
a:visited{
    color: #0082ee;
    text-decoration: none !important;
    text-shadow:none !important;
}
/* 滑鼠移至連結 */
a:hover{
    color: #f55;
    text-decoration: none !important;
    text-shadow:none !important;
}
/* 選擇的連結 */
a:active{
    color: #025294;
    text-decoration: none !important;
    text-shadow:none !important;
}

.top p{
	text-align: center;
	font-size: 45px;
	margin: 0;
	font-weight: bold;
}

.left{
	padding: 30px;
	line-height: 30px;
	text-align: center;
}

.right div{
	text-align: center;
}
.state div, .state h2{
	text-align: center;
}
.program{
	margin: 30px;
	line-height: 50px;
}
.program p{
	font-weight: bold;
	font-size: 25px;
}

.content{
	line-height: 30px;
}
.content p{
	text-indent: 36px;
}
.content_table table{
	border-spacing: 20px;
	line-height: 30px;
}

.score{
	margin: 30px;
}
.score td{
	border: 1px solid;
	padding: 5px;
}

.guestbook{
	
}
